.profile__edit-button {
    max-width: 24px;
    max-height: 24px;
    margin: 0 0 0 18px;
    background-color: #000000;
}
@media (hover: hover) {
.profile__edit-button:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
}
}