.profile {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 880px) {
    .profile  {
        display: flex;
        flex-direction: column; 
    }
  } 