.profile__add-button {
    max-width: 150px;
    max-height: 50px;
    margin: 0;
    background-color: #000000;
}

@media (hover: hover) {
.profile__add-button:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
}
}