.popup__button-close {
    min-width: 32px;
    min-height: 32px;
    margin: 0;
    position: absolute;
    left: 440px;
    bottom: 335px;
    background-image: url(../../../images/popup-close_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

@media (hover: hover) {
.popup__button-close:hover {
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}
}

@media screen and (max-width: 769px) {
    .popup__button-close {
        min-width: 20px;
        min-height: 20px;
        left: 355px;
        bottom: 335px;
  } 
}

@media screen and (max-width: 426px) {
    .popup__button-close {
        left: 285px;
        bottom: 325px;    
  } 
}

@media screen and (max-width: 345px) {
    .popup__button-close {
        left: 260px;
        bottom: 335px;
  } 
}